[submodule "sareb_back_java"]
	path =  /src/main/java/com/example/
	url = https://ahmed_fox@bitbucket.org/fuincowebapps/sareb_back_java.git/src/main/java/com/example/examplequerydslspringdatajpamaven
